<div mat-dialog-title class="wasup-title" [ngClass]="add_class">
  <div class="icon-svg">
    <mat-icon>account_circle</mat-icon>
  </div>
  Create your account
</div>
<div mat-dialog-content>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Email</ng-template>
        <mat-form-field class="full-width" hintLabel="Max 64 characters" appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput #input maxlength="64" type="text" placeholder="Ex. pat@example.com" formControlName="email"
            required>
          <mat-hint align="end">{{input.value.length || 0}}/64</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" hintLabel="Minimum 8 characters" appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput #pwordInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'"
            required>
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{pwordInput.value.length || 0}}/64</mat-hint>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="firstFormGroup.pristine || firstFormGroup.invalid"
            matStepperNext (click)="tokenPerson();">Verify Email
            <mat-icon>vpn_key</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Token</ng-template>
        <mat-form-field class="full-width" hintLabel="Enter verification token from email" appearance="fill">
          <input #tokenInput cdkFocusInitial matInput placeholder="Enter 6 digit token" formControlName="token"
            required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="secondFormGroup.pristine || secondFormGroup.invalid"
            matStepperNext (click)="verifyPerson();">Login
            <mat-icon>lock_open</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</div>