.full-width {
  width: 100%;
  margin: 10px;
}
.custom-action-buttons {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  justify-content: flex-end;
}
.wasup-title {
  text-align: center;
  /* font-size: 1.4em; */
  color: #5b5b65;
  /* text-shadow: 0 1px 0 #fff; */
}
.wasup-title-sso {
  margin-top: inherit;
  margin-bottom: 0px;
}
.wasup-title-sso-m {
  margin-top: -20px;
  margin-bottom: 0px;
}
.wasup-body {
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
}
.icon-svg-large {
    width: 80px;
    top: 60px;
    margin: auto;
}
.icon-svg {
    width: 40px;
    margin: auto;
    margin-top: -5px;
}
.icon-large-svg {
    width: 50px;
    margin: auto;
    margin-top: -4px;
}
.waspay-buttons {
    width: 100%;
    margin-bottom: 10px;
}
.waspay-subtitle {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #5b5b65;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 25px;
}
#sample-pay-button {
  border: .5px solid black;
  border-radius: 5px;
}
#apple-pay-button {
  display: inline-block;
  /* align-self: flex-end; */
  background-color: white;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0px;
  box-sizing: border-box;
  border: .5px solid black;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
#apple-pay-button:focus,
#apple-pay-button:hover {
background-color:#E7ECF1 !important;
}

/* Pass a panel class to dialog to edit css directly */
.was-dialog-nopadding .mat-dialog-container {
  padding: 0!important;
}

.was-leaderboard-titlebar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background: white;
  color: rgba(0,0,0,.87);
  margin: 0;
}

.was-leaderboard-table > table {
  width: 100%;
}
.was-leaderboard-content {
  width: 50vw;
}
.was-leaderboard-content-m {
  max-height: 80vh;
  padding: 0px;
}
.was-shop-content-m {
  max-height: 99vh;
  padding-left: 0px;
  padding-right: 0px;
}
.was-leaderboard-modal-m, .was-shop-modal-m, .was-modal-m {
  max-width: 100%!important;
}
.was-leaderboard-modal-m > .mat-dialog-container {
  padding-top: 0px;
}
.was-shop-modal-m > .mat-dialog-container {
  padding-top: 0px;
}
