<form class="autocomplete-form">
  <mat-form-field class="autocomplete-full-width">
    <input matInput placeholder="Song Title" aria-label="Song Title" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let song of filteredSongs | async" [value]="song">
        <span>{{ song }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br />
  <button mat-raised-button type="button" (click)="addSong()" *ngIf="stateCtrl.value">Add Song</button>
  <!-- <mat-slide-toggle
    [checked]="stateCtrl.disabled"
    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
    Disable Input?
  </mat-slide-toggle> -->
</form>
