<div *ngIf="userService.loginChange | async; else notloggedin">
  <h1 mat-dialog-title class="wasup-title" [ngClass]="add_class">Profile</h1>
  <div mat-dialog-content>
    <mat-card style="margin:2px 0 2px 0;">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary" style="font-size:40px;">person_pin</mat-icon>
        </div>
        <mat-card-title>Your account email is:</mat-card-title>
        <mat-card-subtitle *ngIf="(userService.user | async) as _usr">{{_usr.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>You are logged in.</p>
        <br>
        <p><i>v{{version}}</i></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Okay</button>
    <button mat-raised-button color="warn" (click)="logoutClick()">Logout</button>
  </div>
</div>
<ng-template #notloggedin>
  <h1 mat-dialog-title class="wasup-title" [ngClass]="add_class">Login</h1>
  <div mat-dialog-content>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <mat-form-field class="full-width" hintLabel="Max 64 characters" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput #input maxlength="64" type="text" placeholder="Ex. pat@example.com" formControlName="email"
          required>
        <mat-hint align="end">{{input.value.length || 0}}/64</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput #pwordInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'"
          required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{pwordInput.value.length || 0}}/64</mat-hint>
      </mat-form-field>
      <!-- create flex div with spaced buttons -->
      <div class="custom-action-buttons">
        <span class="toobar-spacer"></span>
        <!-- <button mat-raised-button type="button" color="primary" style="margin: 10px;" (click)="getProfile()">Get Profile</button> -->
        <!-- <button mat-raised-button type="button" (click)="setProfile()">Update Profile</button> -->
        <button mat-raised-button type="submit" color="primary" style="margin: 10px;"
          [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button style="margin: 10px;" type="button" (click)="onNoClick()">Cancel</button>
        <!-- <button *ngIf="data.input" mat-raised-button [mat-dialog-close]="loginForm.value">Okay</button> -->
      </div>
    </form>
  </div>
</ng-template>