<mat-expansion-panel cdkDrag [expanded]="true" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Section
    </mat-panel-title>
    <mat-panel-description>
      {{sectionIdCtrl.value}}
    </mat-panel-description>
    <!-- NOTE: Add btn to turn on drag and drop [cdkDropListDisabled]="true" https://material.angular.io/cdk/drag-drop/overview-->
    <div class="dragdrop-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <button mat-icon-button color="warn" type="button" (click)="removeMe()" aria-label="Remove section">
      <mat-icon>close</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <mat-form-field class="full-width" hintLabel="Max 64 characters" appearance="fill">
    <mat-label>Song Title</mat-label>
    <input matInput #input maxlength="64" placeholder="Ex. Jesus Loves Me" aria-label="Song Title"
      [matAutocomplete]="auto" [formControl]="sectionIdCtrl" (keydown.enter)="addSong(); $event.stopPropagation()"
      required>
    <mat-hint align="end">{{input.value.length || 0}}/64</mat-hint>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let song of filteredSongs | async" [value]="song">
        <span>{{ song }}</span>
      </mat-option>
    </mat-autocomplete>
    <button matSuffix mat-button type="button" [disabled]="!sectionIdCtrl.valid"
      (click)="addSong(); $event.stopPropagation()" alt="Go">Search</button>
  </mat-form-field>
  <span [style.background]="backgroundColor" [style.color]="textColor" class="preview-span">Color
    Preview</span>
  <mat-checkbox [(ngModel)]="viewEnabled" (change)="onCheckboxChange($event)">View entire slide</mat-checkbox>
  <br />

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>text</mat-label>
    <textarea matInput #message class="songtext" placeholder="The section text (song, scripture, or etc)."
      [ngStyle]="slideStyle" [formControl]="sectionTextCtrl"></textarea>
  </mat-form-field>
  <!-- [style.color]="viewEnabled ? viewEnabled: textColor"  [style.background]="viewEnabled ? viewEnabled : backgroundColor" -->

  <div [formGroup]="sectionOptionsGrp">
    <mat-checkbox formControlName="prependBlank">Prepend Blank</mat-checkbox>
    <mat-checkbox formControlName="appendBlank">Append Blank</mat-checkbox>
    <mat-checkbox formControlName="isNew">New Song</mat-checkbox>
    <mat-checkbox formControlName="addLicense">Add License</mat-checkbox>
    <span style="padding: 10px;">Background</span>
    <input formControlName="backgroundColor" type="color" name="colorpicker" id="colorpicker"
      (input)="onColorPickerChangeBackground($event)">
    <span style="padding: 10px;">Font</span>
    <input formControlName="textColor" type="color" name="colorpicker" id="colorpicker"
      (input)="onColorPickerChangeFont($event)">
  </div>
</mat-expansion-panel>