/* .section-form {
  min-width: 250px;
  max-width: 800px;
  width: 100%;
} */

.full-width {
  width: 100%;
  margin: 10px;
}

.mat-checkbox {
  margin: 0 10px;
}

.dragdrop-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.songtext {
  height: 720px;
}

.preview-span {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.25),
    0px 4px 8px rgba(0, 0, 0, 0.25),
    0px 8px 16px rgba(0, 0, 0, 0.25); */
}