.section-form {
  margin: 32px auto 32px;
  padding: 16px 16px;
  max-width: 960px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.full-width {
  width: 100%;
  margin: 10px;
}

.preview-span {
  font-size: large;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}