<h1>Create a PowerPoint</h1><button mat-raised-button type="button" color="primary" (click)="resetForm()">Reset
  Form</button>
<form class="section-form" [formGroup]="pptForm" (ngSubmit)="createPPT()">
  <mat-form-field class="full-width" hintLabel="Max 64 characters" appearance="fill">
    <mat-label>PowerPoint Name</mat-label>
    <input matInput #input maxlength="64" placeholder="Ex. LCC Sunday Service 4/3/22" formControlName="id" required>
    <mat-hint align="end">{{input.value.length || 0}}/64</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width" hintLabel="Optional: Email me this ppt." appearance="fill">
    <mat-label>Email Me PowerPoint</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email">
    <mat-error *ngIf="emailFormCtrl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <div formArrayName="sections">
    <h2>Powerpoint Sections</h2>
    <span style="padding: 10px;">Default colors: Background</span>
    <input type="color" name="colorpicker" id="colorpicker" [value]="backgroundColor"
      (input)="onColorPickerChangeBackground($event)">
    <span style="padding: 10px;">Font</span>
    <input type="color" name="colorpicker" id="colorpicker" [value]="textColor"
      (input)="onColorPickerChangeFont($event)">
    <div [style.background]="backgroundColor" [style.color]="textColor" class="preview-span">Color
      Preview</div>
    <hr>
    <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let section of sections.controls; let i = index; last as last" formGroupName="{{i}}">
        <lct-section [autocomplete]="autocomplete" [sectionForm]="getSectionForm(i)" [index]="i" [isExpanded]="last"
          (removeSection)="removeSection($event)"></lct-section>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-accordion>
  </div>
  <button mat-raised-button type="button" style="margin: 10px;" (click)="addSection()">+ Add another section</button>

  <p style="margin-top: 10px;">Complete the form to enable button.</p>
  <button mat-raised-button type="submit" color="primary" [disabled]="!pptForm.valid">Create PowerPoint</button>
</form>
<mat-divider></mat-divider>
<!-- <p>Form Value: {{ pptForm.value | json }}</p> -->