/* You can add global styles to this file, and also import other style files */

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html {
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
  font-size: 100%;
  min-width: 300px;
  background-color: whitesmoke;
  /* overflow: auto */
}

.canselecttext,input,textarea {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto
}

/* *,input,textarea {
  font-family: Arial;
} */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Put this in to allow a full screen dialog */
/* Use the resize method within any dialog to set to 100%, 100% */
.cdk-overlay-pane {
  max-width: 100%!important;
  /* Pulled this out as it caused janky modal animations in ios 12 */
  /* overflow-y: scroll!important;
  -webkit-overflow-scrolling: touch!important; */
}
