<button mat-icon-button [matMenuTriggerFor]="menu" (menuOpened)="openEvent()" aria-label="menu">
  <mat-icon *ngIf="userService.loginChange | async;else notloggedin">account_circle</mat-icon>
  <ng-template #notloggedin>
    <mat-icon>settings</mat-icon>
  </ng-template>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="true">
  <mat-toolbar color="accent">
    <div class="wasmenu-title">Lockwood Church Tools™</div>
  </mat-toolbar>
  <br>
  <!-- <mat-icon>share</mat-icon> -->
  <button mat-menu-item *ngIf="!(userService.isLoggedIn | async)" (click)="openAccountCreate()">
    <mat-icon>create</mat-icon>
    <span>Create an Account</span>
  </button>
  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="3">
      <button mat-menu-item (click)="openlogin()">
        <mat-icon>person</mat-icon>
        <span>{{loginMessage | async}}</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-icon-button (click)="openuserinfo()">
        <mat-icon color="accent" aria-label="info icon button">{{infoIcon | async}}</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <a mat-menu-item
    href="mailto:wickeym@gmail.com?subject=LockwoodChurchTools%20Help%20%3CDON%27T%20REMOVE%3Euser_id:{{(userService.user | async)?.user_id}}">
    <mat-icon>chat</mat-icon>
    <span>Contact Us</span>
  </a> -->
</mat-menu>
